<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <freeshippingnearby>
                <active>0</active>
                <title>Free Shipping Nearby</title>
                <sallowspecific>0</sallowspecific>
                <model>VarunAgw\FreeShippingNearby\Model\Carrier</model>
                <googleapikey backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <freedistance>3</freedistance>
                <freeorderamount>100</freeorderamount>
                <price>5</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </freeshippingnearby>
        </carriers>
    </default>
</config>
